.home header {}



.home-ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

.home-a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    font-family: 'heebo', sans-serif;
    list-style: none;
    text-decoration: none;
}

.active {
    color: #FF6464;
}

#left-section #rightSection {
    padding: 50px 0;
    width: 50%;
    display: flex;
}

#rightSection img {
    width: 250px;
    height: 250px;
}

.sect-one {
    padding: 0 40px;
    display: flex;
}

img {
    border-radius: 500px;
    padding: 50%
}

#left-section {
    padding: 100px 0px;
    margin-right: 50px;
}

#nonso {
    background-color: #FF6464;
    color: white;
    border-style: none;
    padding: 20px;
}
#sect-two-first-child{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#sect-two-second-child{
    display:flex;
    justify-content:space-between;
    padding: 20px;
}

#sect-two-left{
    margin-right:20px;

}
/* #sect-two-right{
    margin-right: 20px;
} */
.nonso{
    background-color: white;
    padding: 20px;
}
.sec-two{
    background-color: lightskyblue;

}







