.home header {}



.home-ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

.home-a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    font-family: 'heebo', sans-serif;
    list-style: none;
    text-decoration: none;
}

.active {
    color: #FF6464;
}
.sect-one {
    padding: 0 40px;
    display: flex;
    justify-content: end;
    
}
 #right-section {
    /* padding: 50px 0; */
    width: 50%;
    display: flex;
    justify-content: center;
}

#left-section {
    /* padding: 50px 0; */
    /* display: flex; */
    width: 50%;
}
#right-section > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* padding: 50% */
}



#nonso {
    background-color: #FF6464;
    color: white;
    border-style: none;
    padding: 20px;
}
#sect-two-first-child{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#sect-two-second-child{
    display:flex;
    justify-content:space-between;
    padding: 20px;
}

#sect-two-left{
    margin-right:20px;

}
/* #sect-two-right{
    margin-right: 20px;
} */
.nonso{
    background-color: white;
    width:60%;

}
.sec-two{
    background-color: lightskyblue; 
}
.life{
    display:flex;

}
.peace{
    display:flex;
}
.fresh{
margin-bottom: 30px;
}
 
.something{
    margin-left: 20px;
    margin-right: 20px;
}
















